div.all {
	margin: auto;
	width: 910px;
	border: 2px red solid;
}

//////////////////////////////// Menubar///////////

div.headings ul li{
	margin:auto;
	text-decoration: none;
	display: inline-block;
	width: 150px;
	background-color: black;
	padding:10px;
	
}


div.buttons{
	background-color: black;
	opacity: 0.8;
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

div.dropdown:hover div.dropdown-content {
	display: block;
	z-index: 2;
}

.dropdown-content a {
    color: white;
    background-color: #333;
    padding: 16px 2px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: black}

.show {display:block;}



body {
	background-color: black;
}


h1 {
	color: white; 
	text-transform: uppercase;
	text-align: center;
	background-color: black
	
}

h2 {
	color: white; 
	background-color: black;
	opacity: 0.8;
	font-size: 25px;
}


h3 {
	color: black;
	text-transform: uppercase;
}

a {
	color: white;
	list-style:none;
	
}

span {
	color: black;
	font-style: italic;
}


